@model MvcApplication1.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Employee Details</h2> 

<p>@Model.employeeId</p>
<p>@Model.name</p>
<p>@Model.gender</p>
<p>@Model.city</p>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>